.artist-card { 
   border: none;
}

h1{
 font-size: 30px;
 margin-top: 30px;
}
.artist-card img {
    height: 400px;
    object-fit: cover;
}

.cardTitle {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}

.create-button{
    margin-bottom: 10px;
    border: none
}

